<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Taken Courses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>Course A, Course B</td>
        </tr>

    </tbody>
</table>