@model IList<Course>







    <div class="container-fluid mt-3">


        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/image/banner.png" alt="First slide">
                </div>
            </div>
        </div>
        <h3>Available Courses</h3>
        <div class="row">
            @foreach (var obj in Model) {
                <div class="col-4">

                    <div class="card">

                        @{var imageData = obj.Image != null
                                    ? Convert.ToBase64String(obj.Image)
                                    : null;
                        }
                        @if (!string.IsNullOrEmpty(imageData)) {
                            <img src="data:image/jpeg;base64,@imageData" alt="Image" class="card-img-top">
                        }
                        else {
                            <p>No image available</p>
                        }
                        <div class="card-body">

                            <h5 class="card-title">@obj.Title</h5>
                            <p class="card-text">@obj.Description</p>
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@obj.CourseId" class="stretched-link"></a>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>


    

