@model List<Course>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model) {
                <tr>
                    <td>@obj.CourseID</td>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.Category</td>
                </tr>
            }

        </tbody>
    </table>

</div>

